//@import "~swiper/swiper.min.css";
@import "@fancyapps/ui/dist/fancybox.css";

@import "vars";
@import "fonts";

@import "header";
@import "sidebar";
@import "footer";
@import "card";
@import "hero";
@import "single";
@import "faq";

@import "tickets";
@import "covid";
@import "companies";

main {
  @apply flex flex-col;
  min-height: calc(100vh - 220px);
}

section {
  //@apply pt-10 pb-14;

  .heading {
    @apply my-16;
  }

  .container > :last-child {
    @apply mb-16;
  }

  p, ul {
    @apply mb-4;
  }

  ul {
    @apply pl-8 list-disc;

    li::marker {
      @apply text-main;
    }
  }
}

.dots {
  @apply relative w-max mx-auto text-main;

  &:before {
    content: '';
    position: absolute;
    display: block;
    width: 85px;
    height: 100px;
    bottom: -1.5rem;
    left: -1.5rem;
    background: radial-gradient(circle, orange 4px, transparent 4px) 0 0/20px 20px repeat;
    transform: rotate(-15deg);
    opacity: .45;
    z-index: -1;
  }
}

.cards-grid {
  @apply grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-3 lg:gap-4 pb-14 px-3 lg:p-0;
}