@import "fonts";

$main: #f78fb3;

@import "header";
@import "sidebar";
@import "footer";
@import "card";
@import "hero";
@import "single";
@import "faq";

@import "tickets";
@import "covid";
@import "companies";

main {
  @apply flex flex-col;
  min-height: calc(100vh - 220px);
}

section {
  //@apply pt-10 pb-14;

  .heading {
    @apply my-10;

    @screen sm {
      @apply my-16;
    }
  }

  .container > :last-child {
    @apply mb-16;
  }

  p, ul {
    @apply mb-4;
  }

  ul {
    @apply pl-8 list-disc;

    li::marker {
      @apply text-main;
    }
  }
}

.dots {
  @apply relative w-max mx-auto text-main-dark;

  &:before {
    @apply absolute block opacity-40;
    content: '';
    width: 45px;
    height: 70px;
    bottom: -1rem;
    left: -1rem;
    background: radial-gradient(circle, orange 3px, transparent 3px) 0 0/14px 14px repeat;
    transform: rotate(-15deg);
    z-index: -1;

    @screen sm {
      width: 85px;
      height: 100px;
    }
  }
}