$main: #f78fb3;
$main-light: #f8a5c2;

@import "fonts";

@import "header";
@import "sidebar";
@import "footer";
@import "card";
@import "hero";
@import "single";
@import "faq";

@import "tickets";
@import "covid";
@import "companies";
@import "white-list";

main {
  @apply flex flex-col;
  min-height: calc(100vh - 220px);
}

section {
  @apply py-8 lg:py-12;

  &:last-child {
    @apply pb-0;
  }

  //.heading {
  //  @apply my-10;
  //
  //  @screen sm {
  //    @apply my-16;
  //  }
  //}
}

.content {
  p, ul {
    @apply mb-4;
  }

  ul {
    @apply pl-8 list-disc;

    li::marker {
      @apply text-main;
    }
  }
}

.dots {
  @apply relative w-max max-w-full mx-auto text-center text-main-dark;

  &:before {
    @apply absolute block opacity-40;
    content: '';
    width: 45px;
    height: 70px;
    bottom: -1rem;
    left: -1rem;
    background: radial-gradient(circle, orange 3px, transparent 3px) 0 0/14px 14px repeat;
    transform: rotate(-15deg);
    z-index: -1;

    @screen sm {
      width: 85px;
      height: 100px;
    }
  }
}