.footer {
  @apply py-5 text-white bg-main;

  &__col {
    @apply flex flex-col items-center md:items-baseline;

    &:nth-child(1) {
      @apply order-1 md:order-none;
    }
  }

  .container {
    @apply grid gap-4 items-center justify-center md:justify-between;

    @screen md {
      grid-template-columns: repeat(3, auto);
    }
  }

  a {
    &:hover {
      @apply text-gray-200;
    }
  }

  .socials {
    @apply flex;

    a {
      @apply flex items-center justify-center mx-1 text-main bg-white transition-all;
      width: 44px;
      height: 44px;
      border-radius: 50px;

      &:hover {
        @apply bg-gray-200 transform scale-110;

        &.instagram {
          color: #8a3ab9;
        }

        &.facebook {
          color: #4267B2;
        }

        &.vk {
          color: #2787F5;
        }

        &.ok {
          color: #ed812b;
        }
      }
    }

    svg {
      @apply fill-current;
      width: 22px;
      height: 22px;
    }
  }
}