.header {
  @apply relative flex h-16;
  z-index: 1100;

  @screen sm {
    height: 100px;
  }

  &__logo {
    @apply max-h-12 sm:max-h-20 mr-3;
  }
}

.header-menu {
  @apply hidden sm:flex flex-1 justify-end md:justify-center;

  li {
    @apply relative;
    margin: 0 2vw;

    &:after {
      @apply absolute left-0 bg-main;
      content: '';
      height: 4px;
      bottom: -7px;

      &:hover {
        @apply w-full;
      }
    }

    &.current-menu-item:after {
      @apply w-full;
    }
  }

  a {
    @apply no-underline uppercase;
  }
}

.hamburger {
  @apply block sm:hidden cursor-pointer relative;
  width: 24px;
  height: 18px;

  .bar {
    @apply relative bg-gray-800;
    height: 2px;

    &_1 {
      top: 0;
    }

    &_2 {
      top: 6px;
    }

    &_3 {
      top: 12px;
    }
  }
}
