$ticket-color: $main;

.hero {
  @apply relative flex items-center text-white;

  &__container {
    @apply container text-center;
  }

  &__overlay {
    @apply absolute flex w-full h-full items-center left-0 py-4;
    background-color: fade-out(gray, .5);
  }

  &__image {
    @apply w-full;

    img {
      @apply h-full w-full object-cover;
    }
  }

  &__title {
    @apply font-heading text-center text-3xl sm:text-6xl uppercase;
    text-shadow: 2px 1px #444444;

    body.single-attraction & {
      @apply mt-20;
    }
  }

  &__text {
    text-shadow: 2px 1px #444444;

    h1, h2, h3, p {
      @apply text-left;
    }

    h1, h2, h3 {
      @apply text-4xl lg:text-7xl;
    }

    p {
      @apply text-xl lg:text-3xl;
    }
  }


  &__cost {
    @apply relative inline-flex h-14 items-center text-3xl;

    &::before {
      @apply relative h-full border-r-2 border-dashed border-white;
      content: '';
      width: 16px;
      background-color: $ticket-color;
    }

    svg {
      @apply w-auto h-full;
      color: $ticket-color;
    }

    div {
      @apply flex h-full pt-1 px-8 items-center;
      background-color: $ticket-color;
    }
  }

  &__age {
    @apply mt-2 mb-10 text-lg sm:text-xl text-center;
    text-shadow: 2px 1px #444444;
  }
}