.sidebar {
  @apply hidden absolute w-full right-0 bg-white;
  height: calc(100% - 100px);
  top: 100px;

  body.admin-bar & {
    top: 32px;
    height: calc(100vh - 32px);

    @media (max-width: 782px) {
      top: 46px;
      height: calc(100vh - 46px);
    }
  }

  ul {
    @apply flex flex-col items-center text-3xl;
  }

  li {
    @apply my-4;
  }
}

.fancybox__backdrop {
  background: white;
}