.sidebar {
  @apply hidden absolute w-full h-16 right-0 bg-white;
  height: calc(100% - 4rem);
  top: 4rem;

  @screen sm {
    height: calc(100% - 100px);
    top: 100px;
  }

  body.show-sidebar & {
    @apply block;
  }

  body.admin-bar & {
    top: 132px;
    height: calc(100vh - 132px);

    @media (max-width: 782px) {
      top: 146px;
      height: calc(100vh - 146px);
    }
  }

  .menu {
    @apply flex m-10 flex-col items-center text-3xl space-y-6;

    li {
      &.current-menu-item {
        @apply text-main-dark;
      }
    }
  }
}